---
import MultivariateVisualizer from 'components/math/multivar.tsx';
---

<main>
    <MultivariateVisualizer client:only="react" />
</main>

<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  canvas {
    display: block;
  }
</style>